<div class="about-section">
  <div class="container-fluid anchor section-style" id="contact">
    <div class="row">
      <div class="header col-xs-12">
        <h1>Contact Us</h1>
      </div><!--/header-->
        
      <!-- Contact form -->
      <%= render 'contact_form' %>
      <div class="col-xs-12 col-md-6">
        <ul class="contact-list">
          <li><span class="glyphicon glyphicon-envelope"></span> somemail@mail.me</li>
          <li><span class="glyphicon glyphicon-road"></span> Hello-Street 42</li>
          <li><span class="glyphicon glyphicon-home"></span> 987654 Musterstadt</li>
          <li><span class="glyphicon glyphicon-phone-alt"></span> +49 172 345 567 54</li>
        </ul>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /wrapper -->  
