<div class="container">
	<div class="row">
		<h1 class="col-xs-12">Contact</h1>
		<div class="col-xs-12">
			<p>You can find us here!</p>
			<ul>
				<li>Blablastr. 21</li>
				<li>90000 Nürnberg</li>
				<li>+49  123456689</li>
			</ul>
		</div>
	</div>
</div>
