<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container product-box">
  <div class="row">
    <%= render @products %>
  </div>
</div>
<br>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
